/* Efeitos para o card */
.card {
    background-color: #f9f9f9; /* Cor de fundo do card */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px); /* Move o card para cima ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

.card h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.card p {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

.card span {
    display: inline-block;
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.card span:last-child {
    margin-right: 0;
}

.card .rating {
    color: #5c5a63;
    font-weight: bold;
}

/* Estilos para a seção */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6e6e6; /* Cor de fundo da seção */
}

.container {
    max-width: 600px;
}
