.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 80px; 
  text-align: center; 
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin: 0 auto 5px; 
  display: block; 
}

.card p {
  color: #666;
  font-size: 1.0em; 
  margin-bottom: 10px;
  line-height: 130%; 
}

.card span {
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.card span:last-child {
  margin-right: 0;
}

.card .rating {
  color: #5c5a63;
  font-weight: bold;
}

.container {
  max-width: 600px;
  margin: 0px auto;
  padding-bottom: 20px; 
}

.info {
  text-align: left;
  margin-top: 15px;
}

#trailer {
  display: block;
  background-color: #fb0101;
  color: #ffffff;
  padding: 5px 30px;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: center;
}


#trailer:hover {
  cursor: pointer;
} 

#trailer a {
  color: #ffffff; 
  text-decoration: none;
}

#trailer a:visited {
  color: #ffffff; 
}