section {
  margin: 20px;
  margin-top: 80px;
}

.pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  width: 50%;
  border-radius: 20px 0 0 20px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type="text"]:hover,
input[type="text"]:focus {
  border-color: #007bff;
}

button:hover {
  background-color: #0056b3;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
}

button.detalhes:hover {
  background-color: #0056b3;
}

span {
  background-color: white;
  padding: 0.7%;
  border-radius: 50px;
  margin-right: 10px;
  color: #5c5a63;
  font-size: 1.2em;
}

h3 {
  margin-top: 10px;
  color: #5c5a63;
}

ul {
  padding: 0;
  list-style-type: none;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2.5%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pagination button {
  margin: 0 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
  font-size: 0.8em;
}
