<section>
  <div class="pesquisa">
    <br><br><br><br>
    <input #searchQuery type="text" placeholder="Pesquisar filme/serie no tmdb">
    <button (click)="searchMovies(searchQuery.value)">Buscar</button>
  </div>

  <div *ngIf="movies.length">
    <br>
    <h3>Resultados da pesquisa:</h3>
    <br>
    <ul class="movie-list">
      <li *ngFor="let movie of movies">
        <div class="card">
          <img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" alt="{{ movie.title }}">
          <h3>{{ movie.title }}</h3>
          <div class="card-content">
            <p>Lançamento: {{ formatDate(movie.release_date) }}</p>
            <p>Avaliação Tmdb: {{ movie.vote_average | number:'1.2-2' }}</p>
            <p>Votos: {{ movie.vote_count }}</p><br>
            <a routerLink="/home/filme/{{ movie.id }}">
              <button class="detalhes" (click)="selectMovie(movie.id)">Detalhes</button>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

