<app-header></app-header>
<section>
    <div class="card">
        <form>
            <label class="form-label" for="email">Email:</label>
            <input class="form-input" type="email" id="email" name="email" required>

            <label class="form-label" for="username">Username:</label>
            <input class="form-input" type="text" id="username" name="username" required>

            <label class="form-label" for="password">Senha:</label>
            <input class="form-input" type="password" id="password" name="password" required>

            <label class="form-label" for="fullname">Nome Completo:</label>
            <input class="form-input" type="text" id="fullname" name="fullname" required>

            <label class="form-label" for="birthdate">Data de Nascimento:</label>
            <input class="form-input" type="date" id="birthdate" name="birthdate" required>

            <label class="form-label" for="country">País:</label>
            <input class="form-input" type="text" id="country" name="country" required>

            <label class="form-label" for="gender">Gênero:</label>
            <select class="form-input" id="gender" name="gender" required>
                <!-- Aqui será incluído dinamicamente as opções de gênero -->
            </select>

            <label class="form-label" for="favorite_genre">Gênero de Filme Favorito:</label>
            <input class="form-input" type="text" id="favorite_genre" name="favorite_genre" required>

            <button class="form-button" type="submit">Cadastrar</button>
        </form>
    </div>
</section>
<app-footer></app-footer>
