<app-header></app-header>
<section>
    <div class="card">
        <form method="post">
            <label class="form-label" for="fullname">Seu nome:</label>
            <input class="form-input" type="text" id="fullname" name="fullname" required>

            <label class="form-label" for="email">Email:</label>
            <input class="form-input" type="email" id="email" name="email" required>

            <label class="form-label" for="password">Senha:</label>
            <input class="form-input" type="password" id="password" name="password" required>

            <label class="form-label" for="birthdate">Data de Nascimento:</label>
            <input class="form-input" type="date" id="birthdate" name="birthdate" required>

            <label class="form-label" for="gender">Sexo:</label>
            <select class="form-input" id="gender" name="gender" required>
                <option value="">Selecione um gênero</option>
                <option value="male">Masculino</option>
                <option value="female">Feminino</option>
                <option value="other">Outro</option>
            </select>
            <button class="form-button" type="submit">Cadastrar</button>
        </form>
    </div>
</section>
<app-footer></app-footer>