<app-header></app-header>

<section class="registration-section">
    <div class="card">
        <form method="post">
            <h2>MoviesTmdb</h2>

            <label class="form-label" for="fullname">Seu nome:</label>
            <input class="form-input" type="text" id="fullname" name="fullname" required [(ngModel)]="name">

            <label class="form-label" for="email">Email:</label>
            <input class="form-input" type="email" id="email" name="email" required [(ngModel)]="email">

            <label class="form-label" for="password">Senha:</label>
            <input class="form-input" type="password" id="password" name="password" required [(ngModel)]="password">

            <label class="form-label" for="birthdate">Data de Nascimento:</label>
            <input class="form-input" type="date" id="birthdate" name="birthdate" required>

            <label class="form-label" for="gender">Sexo:</label>
            <select class="form-input" id="gender" name="gender" required>
                <option value="">Selecione um gênero</option>
                <option value="male">Masculino</option>
                <option value="female">Feminino</option>
                <option value="other">Outro</option>
            </select>
            <button class="form-button" type="submit" (click)="createUser(email, password)">Cadastrar</button>
        </form>
    </div>
</section>